/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep
/config/master.key
/config/credentials/*.key
.env
.env.*
!.env.example
/vendor/bundle
.DS_Store
.byebug_history
coverage/
/test/browser/node_modules/
/.idea/
/config/database.yml
